@model EventEaseApp.Models.Booking

@{
    ViewData["Title"] = "Add Booking";
}
<h2>ViewData["Title"]</h2>


<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="BookingId"></label>
        <input type="text" class="form-control" id="BookingId" name="BookingId" required />
    </div>

    <div class="form-group">
        <label for="VenueId"></label>
        <input type="text" class="form-control" id="EventName" name="EventName" required />
    </div>

    <div class="form-group">
        <label for="EventId"></label>
        <input type="text" class="form-control" id="EventId" name="EventId" required />
    </div>
    <div class="form-group">
        <label for="EventName"></label>
        <input type="text" class="form-control" id="EventName" name="EventName" required />
    </div>

    <div class="form-group">
        <label for="BookingDate"></label>
        <input type="text" class="form-control" id="BookingDate" name="BookingDate" required />
    </div>
    <div>
        class="form-control" required
        placeholder="Enter Booking date"/>
    </div>


    <button type="submit" class="btn btn-success">Save</button>
</form>
    <a asp-action="Index">Back to List</a>
